# -*- mode: yaml; coding: utf-8; -*-
consul:
  products:
    consul: 1.8.4
    consul-esm: 0.4.0
  extra_configs:
    test_service:
      service:
        name: web
        tags:
          - django
        port: 80
    default:
      bootstrap_expect: 1
      server: True
      encrypt: cg8StVXbQJ0gPvMd9o7yrg==
      enable_syslog: True
