{% set consul = salt['grains.filter_by']({
    'default': {
        'consul_zip': 'https://releases.hashicorp.com/consul/0.6.4/consul_0.6.4_linux_amd64.zip',
        'consul_zip_checksum': 'https://releases.hashicorp.com/consul/0.6.4/consul_0.6.4_SHA256SUMS',
        'service': 'consul',
        'conf_file': '/etc/consul/consul.conf',
        'data_dir': '/var/lib/consul',
    },
    'Debian': {
    },
    'RedHat': {
    },
}, grain='os_family', merge=salt['pillar.get']('consul:overrides'), base='default') %}

{% set consul_service = salt.grains.filter_by({
    'systemd': {
        'destination_path': '/etc/systemd/system/consul.service',
        'source_path': 'consul.service',
    },
    'upstart': {
        'destination_path': '/etc/init/consul.conf',
        'source_path': 'consul.upstart',
    }
}, grain='init', merge=salt.pillar.get('consul:init_service')) %}
