{% set consul = salt.grains.filter_by({
    'default': {
        'architecture_dict': {
            'x86_64': 'amd64',
            'amd64': 'amd64',
            'i386': '386',
            'i686': '386'
        },
        'version': '1.4.4',
        'service': 'consul',
        'conf_file': '/etc/consul/consul.conf',
        'config_dir': '/etc/consul.d',
        'data_dir': '/var/lib/consul'
    }
}, grain='os_family', merge=salt.pillar.get('consul:overrides'), base='default') %}

{% set consul_service = salt.grains.filter_by({
    'systemd': {
        'destination_path': '/etc/systemd/system/consul.service',
        'source_path': 'consul.service',
    }
}, grain='init', merge=salt.pillar.get('consul:init_service'), default='systemd') %}
